@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "faq.css";
@import "modal2.css";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* @import "modal.css"; */
/*общие кнопки на сайт, будут дописываться, в general.css*/
.pages-btn {
  display: inline-flex;
  padding: 13px 24px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}
.pages-btn:hover, .pages-btn:active, .pages-btn:disabled {
  transition: all 0.3s ease 0s;
}
@media (max-width: 768px) {
  .pages-btn {
    padding: 8px 15px;
    font-size: 12px;
  }
}
.pages-btn span {
  font-weight: 400;
}
.pages-btn_dark {
  color: #fff;
  background-color: #353961;
  border: 1px solid #353961;
}
.pages-btn_dark:hover {
  background-color: #1e2139;
  border: 1px solid #1e2139;
}
.pages-btn_dark:active {
  background-color: #515687;
  border: 1px solid #515687;
}
.pages-btn_dark:disabled {
  background-color: #777e8c;
  border: 1px solid #777e8c;
}
.pages-btn_light {
  color: #3d4658;
  border: 1px solid #e0e7ed;
  background-color: #fff;
}
.pages-btn_light:hover {
  background-color: #e0e7ed;
}
.pages-btn_light:active {
  background-color: #fff;
  border: 1px solid #515687;
  color: #515687;
}
.pages-btn_light:disabled {
  background-color: #fff;
  border: 1px solid #777e8c;
  color: #777e8c;
}

/*</кнопки>*/
/*общие стили на страницу*/
body._lock {
  overflow: hidden;
}

._container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.earnpage {
  background-color: #ffffff;
  font-size: 14px;
  font-family: PT Sans;
  font-weight: 400;
  line-height: 1.6;
  color: #3d4658;
}
.earnpage .harant-icon {
  padding: 0 0 0 3px;
}

.earnpage-tag {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  color: #515687;
  background-color: #e7edff;
  border-radius: 6px;
  padding: 2px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.earnpage-title {
  color: #1e2139;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}
@media (max-width: 992px) {
  .earnpage-title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .earnpage-title {
    font-size: 20px;
  }
}
.earnpage-title_l {
  font-size: 64px;
  line-height: 1.25;
}
@media (max-width: 992px) {
  .earnpage-title_l {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .earnpage-title_l {
    font-size: 24px;
  }
}
.earnpage-title_m {
  font-size: 38px;
  line-height: 1.1;
}
@media (max-width: 768px) {
  .earnpage-title_m {
    font-size: 20px;
  }
}
.earnpage-title_s {
  font-size: 32px;
  line-height: 1.1;
}
@media (max-width: 768px) {
  .earnpage-title_s {
    font-size: 20px;
  }
}

/*main*/
.earnpage-main {
  padding: 130px 0 0 0;
}
@media (max-width: 992px) {
  .earnpage-main {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 768px) {
  .earnpage-main {
    padding: 80px 0 0 0;
  }
}
.earnpage-main__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 992px) {
  .earnpage-main__row {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
}
.earnpage-main__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .earnpage-main__item {
    align-items: center;
    text-align: center;
  }
}
.earnpage-main__textblock {
  flex: 0 1 60%;
}
.earnpage-main__pic {
  flex: 0 1 40%;
}

.textblock-main__title span {
  white-space: nowrap;
}
.textblock-main__title span:after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 42px;
  opacity: 1;
  background-color: #3d4658;
  margin: 0 0 -3px 15px;
  animation: blink 1s ease infinite;
}
@media (max-width: 992px) {
  .textblock-main__title span:after {
    width: 3px;
    height: 32px;
    margin: 0 0 -3px 12px;
  }
}
@media (max-width: 768px) {
  .textblock-main__title span:after {
    width: 2px;
    height: 20px;
    margin: 0 0 -3px 6px;
  }
}
.textblock-main__text {
  color: #3d4658;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  padding: 27px 0 128px 0;
}
@media (max-width: 992px) {
  .textblock-main__text {
    padding: 20px 0 65px 0;
    width: 80%;
  }
}
@media (max-width: 768px) {
  .textblock-main__text {
    padding: 15px 0 35px 0;
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .textblock-main__text {
    width: 100%;
  }
}
.textblock-main__btn-block {
  display: flex;
  gap: 10px;
}
@media (max-width: 992px) {
  .textblock-main__btn-block {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.pic-main__container {
  position: relative;
}
@media (max-width: 768px) {
  .pic-main__img {
    width: 220px;
  }
}
.pic-main__anim {
  position: absolute;
  animation: bounce 2.5s ease-in-out infinite;
}
@media (max-width: 768px) {
  .pic-main__anim {
    animation-duration: 3s;
  }
}
.pic-main__anim_1 {
  top: 18%;
  left: 25%;
  width: 125px;
  animation-delay: 0s;
}
@media (max-width: 768px) {
  .pic-main__anim_1 {
    width: 55px;
  }
}
.pic-main__anim_2 {
  top: 18%;
  right: 19%;
  width: 78px;
  animation-delay: 1s;
}
@media (max-width: 768px) {
  .pic-main__anim_2 {
    width: 35px;
  }
}
.pic-main__anim_3 {
  top: 43%;
  right: 17%;
  width: 87px;
  animation-delay: 0.5s;
}
@media (max-width: 768px) {
  .pic-main__anim_3 {
    width: 37px;
  }
}
.pic-main__anim_4 {
  top: 41%;
  left: 25%;
  width: 125px;
  animation-delay: 1.5s;
}
@media (max-width: 768px) {
  .pic-main__anim_4 {
    width: 55px;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/*about*/
.earnpage-about {
  padding: 130px 0 0 0;
}
@media (max-width: 992px) {
  .earnpage-about {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 768px) {
  .earnpage-about {
    padding: 80px 0 0 0;
  }
}
.earnpage-about__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0px 4px 6px 0px rgba(53, 57, 97, 0.16);
  border-radius: 30px;
}
@media (max-width: 992px) {
  .earnpage-about__row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .earnpage-about__row {
    background-color: #f6f7f8;
  }
}
.earnpage-about__item {
  display: flex;
  flex-direction: column;
}
.earnpage-about__textblock {
  flex: 0 0 60%;
  padding: 40px 0 40px 40px;
}
@media (max-width: 1200px) {
  .earnpage-about__textblock {
    flex: 0 0 67%;
  }
}
@media (max-width: 992px) {
  .earnpage-about__textblock {
    flex: 1 1 auto;
    padding: 30px 20px 50px 20px;
  }
}
@media (max-width: 390px) {
  .earnpage-about__textblock {
    padding: 30px 10px 40px 10px;
  }
}
.earnpage-about__pic {
  flex: 0 0 40%;
  overflow: hidden;
  border-radius: 0 0 30px 0;
  padding: 40px 0 22px 0;
}
@media (max-width: 1200px) {
  .earnpage-about__pic {
    flex: 0 0 33%;
  }
}
@media (max-width: 992px) {
  .earnpage-about__pic {
    flex: 1 1 auto;
  }
}
.earnpage-about__pic img {
  max-height: 430px;
}
@media (max-width: 768px) {
  .earnpage-about {
    display: flex;
  }
  .earnpage-about img {
    width: 100%;
    border-radius: 30px;
  }
}

.textblock-about__tag {
  align-self: flex-start;
}
.textblock-about__title {
  padding: 14px 0;
}
@media (max-width: 768px) {
  .textblock-about__title {
    padding: 14px 0 8px 0;
  }
}
.textblock-about__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #3d4658;
}
@media (max-width: 768px) {
  .textblock-about__text {
    font-size: 14px;
  }
}
.textblock-about__cards {
  padding: 40px 0 0 0;
}
@media (max-width: 768px) {
  .textblock-about__cards {
    padding: 28px 0 0 0;
  }
}

.cards-about {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 43px 8%;
}
@media (max-width: 768px) {
  .cards-about {
    gap: 34px 8%;
  }
}
@media (max-width: 530px) {
  .cards-about {
    grid-template-columns: repeat(2, auto);
    gap: 34px 4%;
  }
}

.card-about {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 768px) {
  .card-about {
    gap: 10px;
  }
}
.card-about__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 22px;
  padding: 0 0 0 3px;
  border-radius: 7px;
}
@media (max-width: 768px) {
  .card-about__icon {
    width: 41px;
    height: 41px;
    font-size: 18px;
  }
}
.card-about__icon_1 {
  color: #f2c94c;
  background-color: #fdfbd5;
}
.card-about__icon_2 {
  color: #ff5555;
  background-color: #fff3f3;
}
.card-about__icon_3 {
  color: #41a040;
  background-color: #edffed;
}
.card-about__icon_4 {
  color: #3b51ff;
  background-color: #edf5f9;
}
.card-about__icon_5 {
  color: #8540bb;
  background-color: #f4e7ff;
}
.card-about__icon_6 {
  color: #3d4658;
  background-color: #e0e7ed;
}
.card-about__number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #1e2139;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .card-about__number {
    font-size: 18px;
  }
}
.card-about__text {
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .card-about__text {
    font-size: 12px;
  }
}

/*cats*/
.earnpage-cats {
  padding: 130px 0 0 0;
}
@media (max-width: 992px) {
  .earnpage-cats {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 768px) {
  .earnpage-cats {
    padding: 80px 0 0 0;
  }
}
.earnpage-cats__title {
  padding: 0 0 15px 0;
}
@media (max-width: 768px) {
  .earnpage-cats__title {
    padding: 0 0 10px 0;
  }
}
.earnpage-cats .earnpage-tag {
  font-size: 14px;
  cursor: pointer;
}
.earnpage-cats__row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px 25px;
}
@media (max-width: 768px) {
  .earnpage-cats__row {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
  }
}

/*benefits*/
.earnpage-benefits {
  padding: 130px 0 0 0;
}
@media (max-width: 992px) {
  .earnpage-benefits {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 768px) {
  .earnpage-benefits {
    padding: 80px 0 0 0;
  }
}
.earnpage-benefits__title {
  padding: 15px 0 20px 0;
}
.earnpage-benefits__row {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 42px 14px;
  position: relative;
}
@media (max-width: 992px) {
  .earnpage-benefits__row {
    grid-template-columns: repeat(3, auto);
  }
}
@media (max-width: 768px) {
  .earnpage-benefits__row {
    grid-template-columns: repeat(1, auto);
    gap: 0;
  }
}
@media (max-width: 768px) {
  .earnpage-benefits__item {
    margin: 0 7px;
  }
}
.earnpage-benefits .new-slick-prev,
.earnpage-benefits .new-slick-next {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #777e8c;
  padding: 17.5px;
  margin: 0;
  border: 1px solid #777e8c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.earnpage-benefits .new-slick-prev:hover, .earnpage-benefits .new-slick-prev:active,
.earnpage-benefits .new-slick-next:hover,
.earnpage-benefits .new-slick-next:active {
  color: #1e2139;
  border: 1px solid #1e2139;
}
.earnpage-benefits .new-slick-next {
  left: calc(50% + 13px);
}
.earnpage-benefits .new-slick-next:before {
  font-size: 20px;
  padding: 0 0 0 16px;
}
.earnpage-benefits .new-slick-prev {
  right: calc(50% + 13px);
}
.earnpage-benefits .new-slick-prev:before {
  font-size: 20px;
  padding: 0 0 0 12px;
}

.card-benefits__icon {
  width: 50px;
  height: 50px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #e0e7ed;
  color: #1e2139;
}
.card-benefits__title {
  padding: 28px 0 8px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #3d4658;
}
.card-benefits__text {
  line-height: 1.4;
}

/*pay*/
.earnpage-pay {
  padding: 130px 0 0 0;
}
@media (max-width: 992px) {
  .earnpage-pay {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 768px) {
  .earnpage-pay {
    padding: 80px 0 0 0;
  }
}
.earnpage-pay__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
@media (max-width: 992px) {
  .earnpage-pay__row {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .earnpage-pay__row {
    flex-direction: column;
    align-items: flex-start;
  }
}
.earnpage-pay__item {
  flex: 0 1 50%;
}
.earnpage-pay__title {
  padding: 15px 0 10px 0;
}
.earnpage-pay__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: #3d4658;
}
.earnpage-pay__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #3d4658;
  padding: 15px 0;
}
@media (max-width: 768px) {
  .earnpage-pay__text {
    padding: 7px 0 0 0;
  }
}

.pics-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px 15px;
}
@media (max-width: 992px) {
  .pics-pay {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .pics-pay {
    width: 100%;
    flex-wrap: nowrap;
    gap: 5px;
  }
}
.pics-pay__item {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .pics-pay__item {
    flex: 0 1 40%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .pics-pay__item {
    flex: 1 1 auto;
  }
}
.pics-pay__item img {
  height: 100%;
}
.pics-pay__item_3 {
  height: 60px;
  min-height: 100%;
}
@media (max-width: 768px) {
  .pics-pay__item_3 {
    height: 45px;
  }
}
.pics-pay__item_2 {
  height: 48px;
}
@media (max-width: 768px) {
  .pics-pay__item_2 {
    height: 36px;
  }
}
.pics-pay__item_1 {
  height: 30px;
}
@media (max-width: 768px) {
  .pics-pay__item_1 {
    height: 22px;
  }
}

/*start*/
.earnpage-start {
  padding: 130px 0 0 0;
}
@media (max-width: 992px) {
  .earnpage-start {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 768px) {
  .earnpage-start {
    padding: 80px 0 0 0;
  }
}
.earnpage-start__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 992px) {
  .earnpage-start__row {
    gap: 20px;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .earnpage-start__row {
    flex-direction: column;
  }
}
.earnpage-start__item {
  flex: 0 0 50%;
}
@media (max-width: 768px) {
  .earnpage-start__item {
    flex: 1 1 auto;
    width: 100%;
  }
}
.earnpage-start__item img {
  width: 100%;
  position: relative;
  z-index: 10;
}
.earnpage-start__item:nth-child(1) {
  position: relative;
  align-self: center;
}
.earnpage-start__item:nth-child(1):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 50%;
  filter: blur(20.5px);
}
.earnpage-start__item:nth-child(2) {
  z-index: 10;
}
.earnpage-start__title {
  padding: 0 0 40px 0;
}
@media (max-width: 768px) {
  .earnpage-start__title {
    text-align: center;
    padding: 0 0 10px 0;
  }
}
.earnpage-start__list {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: #1e2139;
}
.earnpage-start__list a {
  color: #5c83cf;
  font-weight: 700;
  cursor: pointer;
}
.earnpage-start__list a span {
  font-size: 14px;
  padding: 0 6px;
}
.earnpage-start__list a:hover, .earnpage-start__list a:active {
  color: #515687;
}
.earnpage-start__link {
  margin: 0 0 18px 0;
  display: flex;
  align-items: center;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .earnpage-start__link {
    margin: 0 0 18px 0;
  }
}
.earnpage-start__count {
  display: flex;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 0;
  font-size: 20px;
  font-weight: 700;
  background-color: #353961;
  border-radius: 50%;
  color: #fff;
}
@media (max-width: 768px) {
  .earnpage-start__count {
    margin: 0 14px 0 0;
  }
}

/*signin*/
.earnpage-signin {
  padding: 130px 0 0 0;
}
@media (max-width: 992px) {
  .earnpage-signin {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 768px) {
  .earnpage-signin {
    padding: 80px 0 0 0;
  }
}
.earnpage-signin__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34px 15px 37px 15px;
  border-radius: 15px;
  background: linear-gradient(268deg, #eef2fb 5.69%, #eaebf6 101.13%);
}
@media (max-width: 768px) {
  .earnpage-signin__container {
    padding: 19px 15px 21px 15px;
  }
}
.earnpage-signin__title {
  max-width: 810px;
  padding: 0 0 45px 0;
  text-align: center;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .earnpage-signin__title {
    padding: 0 0 30px 0;
  }
}

/*faq*/
.earnpage-faq {
  padding: 130px 0 0 0;
}
@media (max-width: 992px) {
  .earnpage-faq {
    padding: 100px 0 0 0;
  }
}
@media (max-width: 768px) {
  .earnpage-faq {
    padding: 80px 0 0 0;
  }
}
.earnpage-faq__title {
  padding: 0 0 33px 0;
}
@media (max-width: 768px) {
  .earnpage-faq__title {
    padding: 0 0 20px 0;
  }
}
.earnpage-faq .text_faq {
  font-size: 14px;
}
.earnpage-faq .text_faq li {
  padding: 0 0 10px 3px;
  line-height: 1.8;
}
.earnpage-faq .title_faq {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  color: #3d4658;
}
@media (max-width: 768px) {
  .earnpage-faq .title_faq {
    font-size: 16px;
  }
}

/*смайл*/
.earnpage-faq .emoji {
  width: 20px;
}

@media (max-width: 768px) {
  .earnpage-faq .emoji {
    width: 18px;
  }
}
/*form*/
.earnpage-form {
  padding: 130px 0;
}
@media (max-width: 992px) {
  .earnpage-form {
    padding: 100px 0;
  }
}
@media (max-width: 768px) {
  .earnpage-form {
    padding: 80px 0;
  }
}

/*pop up*/
.earnpage-modal__title {
  padding: 0 0 18px 0;
}
@media (max-width: 768px) {
  .earnpage-modal__title {
    padding: 0 0 14px 0;
  }
}
.earnpage-modal__list {
  padding: 18px 0 0 0;
}
@media (max-width: 768px) {
  .earnpage-modal__list {
    padding: 14px 0 0 0;
  }
}
.earnpage-modal__link {
  color: #777e8c;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 14px 0;
  line-height: 1.3;
  cursor: pointer;
}
@media (max-width: 768px) {
  .earnpage-modal__link {
    font-size: 12px;
    margin: 0 0 8px 0;
  }
}
.earnpage-modal__form {
  width: 60%;
  border-radius: 6px;
  border: 1px solid #e0e7ed;
}
@media (max-width: 768px) {
  .earnpage-modal__form {
    width: 100%;
  }
}
.earnpage-modal__input {
  padding: 10px 14px;
  border-radius: 6px;
  width: calc(100% - 30px);
}
.earnpage-modal__input::-moz-placeholder {
  font-size: 12px;
  font-weight: 700;
  color: #777e8c;
}
.earnpage-modal__input::placeholder {
  font-size: 12px;
  font-weight: 700;
  color: #777e8c;
}
.earnpage-modal__submit {
		background-color: transparent;
}
